<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063640294115-0g1juqi5q6tr2pf33ub6nqp97nuat4r7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063640294115-0g1juqi5q6tr2pf33ub6nqp97nuat4r7</string>
	<key>API_KEY</key>
	<string>AIzaSyAokhfj5UG_u9rqf0uP0m6O-ezWOUaERv0</string>
	<key>GCM_SENDER_ID</key>
	<string>1063640294115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginRegistrationFirebaseAuth</string>
	<key>PROJECT_ID</key>
	<string>fir-login-registration-c9b0d</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-login-registration-c9b0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063640294115:ios:b49a139deefb3771135bd6</string>
</dict>
</plist>